<a href="https://colab.research.google.com/github/duttaaiyandrilla-25/my-files/blob/main/2nd_class_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#printing values
name = "Aiyandrilla"
num1 = 48
num2 = 39

print("Name:", name, "NO1:", num1, "No2:", num2, "sum:", num1+num2)

Name: Aiyandrilla NO1: 48 No2: 39 sum: 87

In [ ]:
#printing values with space
name = "Danger"
num1 = 56
num2 = 78
print("Name:", name)
print("No1:", num1)
print("No2", num2)
print("Sum:", num1+num2)

Name: Danger
No1: 56
No2 78
Sum: 134

In [ ]:
#printing percentage only integer
percentage = 23
print("Score: {:}%".format(percentage))

Score: 23%

In [ ]:
#printing percentage with floting num
Amount = 46.5
print("score: {:.3f}%". format(Amount))

score: 46.500%

In [ ]:
#literals
flowers = {"jesmin,lily,rose"}
print(flowers)

numbers = 1,2,3,3,4,5,6
print(numbers)

alphabets = {"a: apple", "b:ball", "C:cat"}
print(alphabets)

vowels = {"a,e,i,o,u"}
print(vowels)

{'jesmin,lily,rose'}
(1, 2, 3, 3, 4, 5, 6)
{'a: apple', 'b:ball', 'C:cat'}
{'a,e,i,o,u'}

In [ ]:
#integer number and data type
integer = 3456
floting_number = 3456.456

print("SUM:", integer + floting_number)

new_number = integer + floting_number
print(new_number)
print("Data type:", type(new_number))

SUM: 6912.456
6912.456
Data type: <class 'float'>

In [32]:
 #using input to tkae user input
num = input("enter a number: ")

print("you entered: ", num)
print("data type of num: ", type(num))

num = int(input("enter a number: ", ))
print("data type of a num: ", type(num))

enter a number: 345
you entered:  345
data type of num:  <class 'str'>
enter a number: 567
data type of a num:  <class 'int'>

In [34]:
 a = int(input("entered the 1st no: "))
 b = int(input("entered the 2nd no: "))

 print("sum: ",a+b)
 print("substraction: ", a-b)
 print("multiplication: ", a*b)
 print("division: ", a/b)
 print("floor division: ", a//b)
 print("modulo: ", a%b)
 print("power: ", a**b)

entered the 1st no: 30
entered the 2nd no: 5
sum:  35
substraction:  25
multiplication:  150
division:  6.0
floor division:  6
modulo:  0
power:  24300000

In [36]:
#comparison operator
a = int(input("enter the value of a: "))
b = int(input("enter the value of b: "))

print('a == b = ', a == b)
print("a != b = ", a != b)
print("a > b =", a > b)
print("a < b =", a < b)
print(" a >= b = ", a >= b)
print("a <= b =", a <= b)

enter the value of a: 867
enter the value of b: 749
a == b =  False
a != b =  True
a > b = True
a < b = False
 a >= b =  True
a <= b = False