<a href="https://colab.research.google.com/github/duttaaiyandrilla-25/my-files/blob/main/2nd_class_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
#printing values
name = "Aiyandrilla"
num1 = 48
num2 = 39

print("Name:", name, "NO1:", num1, "No2:", num2, "sum:", num1+num2)

Name: Aiyandrilla NO1: 48 No2: 39 sum: 87

In [6]:
#printing values with space
name = "Danger"
num1 = 56
num2 = 78
print("Name:", name)
print("No1:", num1)
print("No2", num2)
print("Sum:", num1+num2)

Name: Danger
No1: 56
No2 78
Sum: 134

In [18]:
#printing percentage only integer
percentage = 23
print("Score: {:}%".format(percentage))

Score: 23%

In [19]:
#printing percentage with floting num
Amount = 46.5
print("score: {:.3f}%". format(Amount))

score: 46.500%

In [25]:
#literals
flowers = {"jesmin,lily,rose"}
print(flowers)

numbers = 1,2,3,3,4,5,6
print(numbers)

alphabets = {"a: apple", "b:ball", "C:cat"}
print(alphabets)

vowels = {"a,e,i,o,u"}
print(vowels)

{'jesmin,lily,rose'}
(1, 2, 3, 3, 4, 5, 6)
{'a: apple', 'b:ball', 'C:cat'}
{'a,e,i,o,u'}

In [30]:
#integer number and data type
integer = 3456
floting_number = 3456.456

print("SUM:", integer + floting_number)

new_number = integer + floting_number
print(new_number)
print("Data type:", type(new_number))

SUM: 6912.456
6912.456
Data type: <class 'float'>

In [ ]:
 #using input to tkae user input
 num = input("enter a number: ")

 print("you entered: ", num)
 print("data type of num: ", type(num))

 num = int(input("enter a number: ", ))
 print("data type of a num: ", type(num))